<p id="notice"><%= notice %></p>

<%= react_component("ThreadContainer", { 
  post: @post, 
  comments: @post.comments,
  authenticity_token: form_authenticity_token }) %>
  
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
